## Covid-19 Death Percentage Prediction

In [1]:
import numpy as np
import pandas as pd
from numpy import math
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [24]:
data = pd.read_csv("covidData.csv")

In [25]:
data

,newCasesByPublishDate,cumCasesByPublishDate,deathsToday,deathsTillDate,Recovered
0,24470,5880667,95,156048,200
1,26144,5856528,85,155953,223
2,29622,5830774,94,155868,342
3,31117,5801561,83,155774,140
4,27734,5770928,77,155691,221
...,...,...,...,...,...
118,2762,4362150,44,152537,167
119,2297,4359388,51,152493,145
120,3423,4357091,40,152442,123
121,3402,4353668,50,152402,100
122,4479,4350266,62,152352,300

In [26]:
data  = data.rename(columns={'newCasesByPublishDate': 'newCasesOnPublishDate'})

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   newCasesOnPublishDate  123 non-null    int64
 1   cumCasesByPublishDate  123 non-null    int64
 2   deathsToday            123 non-null    int64
 3   deathsTillDate         123 non-null    int64
 4   Recovered              123 non-null    int64
dtypes: int64(5)
memory usage: 4.9 KB

In [28]:
data.describe()

,newCasesOnPublishDate,cumCasesByPublishDate,deathsToday,deathsTillDate,Recovered
count,123.000000,1.230000e+02,123.000000,123.000000,123.000000
mean,12788.569106,4.707550e+06,30.552846,153893.390244,249.032520
std,14215.767197,4.340238e+05,21.879028,818.762377,106.152761
min,1649.000000,4.350266e+06,4.000000,152352.000000,100.000000
25%,2490.500000,4.419366e+06,14.500000,153391.000000,164.000000
50%,4330.000000,4.490438e+06,23.000000,153789.000000,239.000000
75%,24359.000000,4.841816e+06,42.500000,154281.000000,306.000000
max,54674.000000,5.880667e+06,95.000000,156048.000000,755.000000

In [29]:
data.isnull().sum()

newCasesOnPublishDate    0
cumCasesByPublishDate    0
deathsToday              0
deathsTillDate           0
Recovered                0
dtype: int64

## Splitting Data

In [30]:
x=data
y=data.pop('deathsToday')
print(x.shape)
print(y.shape)

(123, 4)
(123,)

In [31]:
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.2,random_state=4)

## Linear Regression

In [32]:
model=LinearRegression()
model.fit(train_x,train_y)

LinearRegression()

In [33]:
prediction=model.predict(test_x)
prediction

array([65.76018843, 78.58218739, 35.13291979, 53.32123041, 46.83474281,
       15.88494874, 81.01045985, 35.64633262, 17.87263252, 45.06292275,
       10.9922925 , 15.00194685, 23.74127739, 46.40691441, 13.78563153,
       49.57112431, 72.38642502, 65.74688347, 20.2491987 , 34.35701112,
       23.20843109, 27.39087859, 19.49471258, 51.14274539, 16.27983404])

In [34]:
err=math.sqrt(mean_squared_error(test_y,prediction))
err

6.419931701794294

In [35]:
model.score(test_x,test_y)

0.9299151083939202

In [36]:
df=pd.DataFrame({'actual':test_y,'prediction':prediction,'diff':(test_y-prediction)})
df

     actual  prediction       diff
13       83   65.760188  17.239812
2        94   78.582187  15.417813
25       35   35.132920  -0.132920
16       52   53.321230  -1.321230
19       48   46.834743   1.165257
41       12   15.884949  -3.884949
5        74   81.010460  -7.010460
24       40   35.646333   4.353667
83        8   17.872633  -9.872633
20       39   45.062923  -6.062923
65       13   10.992292   2.007708
80       15   15.001947  -0.001947
34       18   23.741277  -5.741277
116      44   46.406914  -2.406914
78       14   13.785632   0.214368
118      44   49.571124  -5.571124
10       82   72.386425   9.613575
12       63   65.746883  -2.746883
93       16   20.249199  -4.249199
26       33   34.357011  -1.357011
98       25   23.208431   1.791569
102      35   27.390879   7.609121
86       17   19.494713  -2.494713
119      51   51.142745  -0.142745
85       20   16.279834   3.720166

In [37]:
test1=np.array([4479,4350266,152352,300])
test1=test1.reshape(1,-1)
t1=model.predict(test1)
n1=t1[0]
d1=test1[0][0]-test1[0][3]
print(round(n1))
print(d1)

57
4179

In [38]:
print('Death percentage predicted for given data is',round(((n1/d1)*100),2))

Death percentage predicted for given data is 1.35

## DecisionTree Regressor

In [39]:
regressor=DecisionTreeRegressor(random_state=0)
regressor.fit(train_x,train_y)

DecisionTreeRegressor(random_state=0)

In [40]:
prediction2=regressor.predict(test_x)
err=math.sqrt(mean_squared_error(test_y,prediction2))
err

9.658157174119708

In [41]:
pd.DataFrame({'actual':test_y,'prediction':prediction2,'diff':(test_y-prediction2)})

     actual  prediction  diff
13       83        57.0  26.0
2        94        85.0   9.0
25       35        28.0   7.0
16       52        69.0 -17.0
19       48        35.0  13.0
41       12        16.0  -4.0
5        74        75.0  -1.0
24       40        47.0  -7.0
83        8        10.0  -2.0
20       39        35.0   4.0
65       13         8.0   5.0
80       15         4.0  11.0
34       18        17.0   1.0
116      44        45.0  -1.0
78       14        11.0   3.0
118      44        45.0  -1.0
10       82        57.0  25.0
12       63        57.0   6.0
93       16        15.0   1.0
26       33        28.0   5.0
98       25        21.0   4.0
102      35        33.0   2.0
86       17        17.0   0.0
119      51        45.0   6.0
85       20        11.0   9.0

In [42]:
regressor.score(test_x,test_y)

0.8413821248809685

In [43]:
test2=np.array([4479,4350266,152352,300])
test2=test2.reshape(1,-1)
t2=regressor.predict(test2)
n2=t2[0]
d2=test2[0][0]-test2[0][3]
print(round(n2))
print(d2)

62
4179

In [44]:
print('Death percentage predicted for given data is',round(((n2/d2)*100),2))

Death percentage predicted for given data is 1.48

## RandomForest Regressor

In [45]:
regr=RandomForestRegressor(max_depth=10,random_state=0,n_estimators=100)
regr.fit(train_x,train_y)

RandomForestRegressor(max_depth=10, random_state=0)

In [46]:
prediction3=regr.predict(test_x)
err=math.sqrt(mean_squared_error(test_y,prediction3))
err

6.330807520206957

In [47]:
pd.DataFrame({'actual':test_y,'prediction':prediction3,'diff':(test_y-prediction3)})

     actual  prediction       diff
13       83   64.890000  18.110000
2        94   83.040000  10.960000
25       35   34.890000   0.110000
16       52   54.490000  -2.490000
19       48   41.950000   6.050000
41       12   17.374865  -5.374865
5        74   77.050000  -3.050000
24       40   43.030000  -3.030000
83        8   16.431813  -8.431813
20       39   40.980000  -1.980000
65       13   10.965141   2.034859
80       15   11.226251   3.773749
34       18   23.300000  -5.300000
116      44   47.470000  -3.470000
78       14   11.592434   2.407566
118      44   47.700000  -3.700000
10       82   67.490000  14.510000
12       63   60.990000   2.010000
93       16   17.405833  -1.405833
26       33   27.580000   5.420000
98       25   21.640000   3.360000
102      35   31.600000   3.400000
86       17   16.434861   0.565139
119      51   46.360000   4.640000
85       20   15.522212   4.477788

In [48]:
regr.score(test_x,test_y)

0.9318474971808105

In [49]:
test3=np.array([4479,4350266,152352,300])
test3=test3.reshape(1,-1)
t3=regr.predict(test3)
n3=t3[0]
d3=test3[0][0]-test3[0][3]
print(round(n3))
print(d3)

55
4179

In [50]:
print('Death percentage predicted for given data is',round(((n3/d3)*100),2))

Death percentage predicted for given data is 1.31